{% extends 'base.html.twig' %}

{% block title %}New Articles{% endblock %}

{% block body %}
    <h1>Create new Articles</h1>

    {{ include('profile_articles/_form.html.twig') }}

    <a href="{{ path('profile_articles_index') }}">back to list</a>
{% endblock %}
